<div class="col-sm-1"></div>
<div class="panel panel-default col-sm-8">
    <div class="panel-heading">
        Customer List
    </div>
    <p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000"></p-confirmDialog>
    <div class="panel-body">
        <div class="form-group row">
            <a routerLink="/customer-form" routerLinkActive="active" class="btn btn-default pull-left"><span
                    class="glyphicon glyphicon-file"></span> Form View</a>
        </div>

        <div class="form-group row">
            <table class="table table-condensed table-responsive">
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>EMail</th>
                        <th>City</th>
                        <th>Address</th>
                        <th>Phone Number</th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let customer of customers'>
                        <td>{{customer.firstName}}</td>
                        <td>{{customer.lastName}}</td>
                        <td>{{customer.eMail}}</td>
                        <td>{{customer.city}}</td>
                        <td>{{customer.address}}</td>
                        <td>{{customer.phoneNumber}}</td>
                        <td>
                            <a [routerLink]="['/customer-form']" data-toggle="tooltip" data-placement="right"
                                title="Open in form"
                                [queryParams]="{ firstName: customer.firstName, lastName: customer.lastName }"
                                routerLinkActive="active" class="btn btn-link"><span
                                    class="glyphicon glyphicon-edit"></span></a>

                            <button type="button" (click)="deleteCustomer(customer.firstName, customer.lastName)"
                                class="btn-sm btn-danger" data-toggle="tooltip" data-placement="right"
                                title="Delete Customer">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="col-sm-1"></div>