<div class="col-sm-1"></div>
<div class="panel panel-default col-sm-8">
    <div class="panel-heading">
        Customer Form
    </div>

    <div class="panel-body">
        <form [formGroup]="customerForm" (ngSubmit)="onSubmit()">
            <div class="ui-fluid">
                <div class="p-field">
                    <a routerLink="/customers" routerLinkActive="active" class="btn btn-default"><span
                            class="glyphicon glyphicon-list"></span> List View</a>
                </div>
                <div class="p-field">

                    <label for="firstName">First Name(*)</label>
                    <div class="ui-inputgroup">
                        <p-autoComplete formControlName="firstName" [suggestions]="filteredFirstNames"
                            (completeMethod)="filterFirstNames($event)" (onSelect)="onSelectNameSuggestion($event)"
                            [size]="50" [minLength]="1" required>
                        </p-autoComplete>
                        <span *ngIf="isFieldValid('firstName')" class="ui-inputgroup-addon"><i
                                class="glyphicon glyphicon-warning-sign text-danger"></i></span>
                    </div>
                </div>

                <div class="p-field">
                    <label for="lastName">Last Name(*)</label>
                    <div class="ui-inputgroup">
                        <p-autoComplete formControlName="lastName" [suggestions]="filteredLastNames"
                            (completeMethod)="filterLastNames($event)" (onSelect)="onSelectNameSuggestion($event)"
                            [size]="50" [minLength]="1" required>
                        </p-autoComplete>
                        <span *ngIf="isFieldValid('lastName')" class="ui-inputgroup-addon"><i
                                class="glyphicon glyphicon-warning-sign text-danger"></i></span>
                    </div>
                </div>
                <div class="p-field">
                    <label for="email">Email</label>
                    <div class="ui-inputgroup">
                        <input type="text" formControlName="eMail" class="form-control input-md" pInputText>
                        <span *ngIf="isFieldValid('eMail')" class="ui-inputgroup-addon"><i
                                class="glyphicon glyphicon-warning-sign text-danger"></i></span>
                    </div>
                </div>
                <div class="p-field">
                    <label for="city">City(*)</label>
                    <div class="ui-inputgroup">
                        <input type="text" formControlName="city" class="form-control input-md" pInputText required>
                        <span *ngIf="isFieldValid('city')" class="ui-inputgroup-addon"><i
                                class="glyphicon glyphicon-warning-sign text-danger"></i></span>
                    </div>
                </div>
                <div class="p-field">
                    <label for="address">Address(*)</label>
                    <div class="ui-inputgroup">
                        <input type="text" formControlName="address" class="form-control input-md" pInputText required>
                        <span *ngIf="isFieldValid('address')" class="ui-inputgroup-addon"><i
                                class="glyphicon glyphicon-warning-sign text-danger"></i></span>
                    </div>
                </div>
                <div class="p-field">
                    <label for="phoneNumber">Phone Number</label>
                    <p-inputMask mask="(999) 999-9999" formControlName="phoneNumber" placeholder="(999) 999-9999">
                    </p-inputMask>
                </div>
                <div class="p-field">


                    <button type="button" (click)="onCancel()" class="btn btn-default"><span
                            class="glyphicon glyphicon-menu-left"></span>
                        Cancel</button>
                    &nbsp;&nbsp;
                    <button type="submit" [disabled]="!customerForm.valid" class="btn btn-default pull-right"><span
                            class="glyphicon glyphicon-floppy-disk"></span>
                        Submit</button>
                </div>
            </div>
        </form>


    </div>
</div>

<div class="col-sm-1"></div>